.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f2f1f5;
  }
  
  .login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.1), 
                inset -4px -4px 8px rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 320px;
    color: #000000;
  }
  
  .login-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .login-form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .login-input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background: #f2f1f5;
    color: #000000;
  }
  
  .login-button {
    width: 150px;
    padding: 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .login-button:hover {
    background-color: #333333;
  }
  
  .login-error {
    color: red;
    font-size: 0.9rem;
  }
  
  .signup-text {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .signup-link {
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }
  